.page {

}



.main {
  @extend %centerContainer;
}

.footer {
  @extend %centerContainer;
  border-top: 1px solid #cccccc;
  padding-top: 1rem;
  margin-bottom: 3rem;

  > p {
    font-size: 1rem;
    text-align: center;
  }
}
