.logotype {
  margin: 1rem 0;
  padding: 0;
  text-align: center;

  > a {
    display: inline-block;
    text-decoration: none;

    > img {
      display: inline-block;
      height: auto;
      width: 160px;
    }
  }
}

@media only screen and (min-width: 980px) {
  .logotype {
    margin: 2rem 0;

    > a {
      > img {
        width: 320px;
      }
    }
  }
}
