.logotype {
  margin: 1rem 0;
  padding: 0;
  text-align: center;

  > a {
    display: inline-block;
    text-decoration: none;

    > img {
      display: inline-block;
      height: auto;
      width: 180px;
    }
  }
}

@media only screen and (min-width: 640px) {
  .logotype {
    > a {
      > img {
        height: auto;
        width: 280px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .logotype {
    margin: 2rem 0;

    > a {
      > img {
        height: auto;
        width: 380px;
      }
    }
  }
}
